# DO NOT COMMIT REAL VALUES
SUPPLIER_LIVE_PROFILE=inter-cars
SUPPLIER_NETWORK_ENABLED=0
SUPPLIER_LIVE_READ_ENABLED=0
SUPPLIER_ORDER_NETWORK_ENABLED=0
PAYMENT_PRODUCTION_ENABLED=0
CARRIER_PRODUCTION_ENABLED=0
RETURNS_PRODUCTION_ENABLED=0
AI_PRODUCTION_ENABLED=0
MARKETING_SPEND_ENABLED=0
SALES_ENABLED=0
SUPPLIER_LIVE_CREDENTIALS_SECRET_REF=
PAYMENT_PROVIDER_SECRET_REF=
CARRIER_PROVIDER_SECRET_REF=
AI_PROVIDER_SECRET_REF=
GOOGLE_ADS_SECRET_REF=
META_SECRET_REF=
TIKTOK_SECRET_REF=
YOUTUBE_SECRET_REF=
