BUZZARD_API_TOKEN=
BUZZARD_COMPLETE_DB=./database/buzzard_complete.db
BUZZARD_DB=./database/buzzard_complete.db
BUZZARD_LLM_BASE_URL=
BUZZARD_LLM_API_KEY=
BUZZARD_LLM_MODEL=
BUZZARD_MAX_FETCH_BYTES=2000000
BUZZARD_REQUEST_TIMEOUT=15
BUZZARD_SCHEDULER_INTERVAL=300
BUZZARD_SCHEDULER_PROCESS_LIMIT=1
