APP_BASE_URL=https://YOUR_DOMAIN
APP_DOMAIN=YOUR_DOMAIN
POSTGRES_DB=buzzard
POSTGRES_USER=buzzard
POSTGRES_PASSWORD=USE_SECRET_MANAGER
REDIS_URL=USE_SECRET_MANAGER
PAYMENT_API_KEY=USE_SECRET_MANAGER
PAYMENT_WEBHOOK_SECRET=USE_SECRET_MANAGER
SUPPLIER_API_CREDENTIALS=USE_SECRET_MANAGER
CARRIER_API_CREDENTIALS=USE_SECRET_MANAGER
MARKETPLACE_API_CREDENTIALS=USE_SECRET_MANAGER
TELEPHONY_CREDENTIALS=USE_SECRET_MANAGER
REALTIME_AI_API_KEY=USE_SECRET_MANAGER
